
<html>
<head>
    <title>Testing</title>
</head>

<div style="position:relative;padding-top:56.25%;"><iframe src="https://iframe.mediadelivery.net/embed/205617/1e79ac16-b034-47f8-950e-541ee42db2f1?autoplay=true&loop=true&muted=false&preload=true&responsive=true" loading="lazy" style="border:0;position:absolute;top:0;height:100%;width:100%;" allow="accelerometer;gyroscope;autoplay;encrypted-media;picture-in-picture;" allowfullscreen="true"></iframe></div>

<br><br>

<body>
<h3>Image directly from Azure webapp:</h3>
<img src="{{ url_for('static', filename='images/bunnytestphoto.jpg') }}"/>

<br><br>

<h3>Image through bunny.net:</h3>
<img src="https://uroszor123.b-cdn.net/static/images/bunnytestphoto.jpg"/>

<br><br>

<h3>Image through Azure CDN:</h3>
<img src="https://uroszorCDN-aqa0duhuhubyfmh0.z02.azurefd.net/static/images/bunnytestphoto.jpg"/>



</body>
</html>